.page-sizing {
  width: 95%;
  margin: auto;
  height: 211px;
  margin-top: 20px;
}
.appraisal-score {
  width: 450px;
  height: 100%;
  margin-right: 38px;
  background: #ffffff;
  text-align: center;
}
.appraisal-score > p {
  font-size: 14px;
  color: #999999;
  margin-top: 29px;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0;
}
.appraisal-score > div > h1 {
  color: #999999;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 10px;
}
.appraisal-score > div > p {
  color: #999999;
  margin-top: -5px;
}
.score-breakdown {
  width: 494px;
  height: 100%;
  background: #ffffff;
  padding: 38px 0px 0px 30px;
}
.score-breakdown > div {
  width: 426px;
  height: 22px;
  margin-bottom: 18px;
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-gap: 1%;
}
.score-breakdown > div > div {
  height: 100%;
}
.score-breakdown > div > div > p {
  font-size: 14px;
  color: #999999;
  margin: 0;
}
.score-button {
  width: 197px;
  height: 30px;
  background: #dddddd;
  border-radius: 5px;
  text-align: center;
  padding: 0;
  color: #999999;
}
.no-appraisal {
  width: 982px;
  margin-top: 38px;
}
.no-appraisal > p {
  text-align: center;
  font-size: 14px;
  color: #999999;
  align-items: center;
}
.score-upload-progress {
  display: grid;
  grid-template-columns: 20px 124px 58px;
  grid-gap: 4px;
}
.progress-adjust {
  background: #f3f2f1;
  border-radius: 1px;
  width: 124px;
  height: 19px;
}

.appraisal-result {
  height: 86vh;
  overflow-y: auto;
}
