.main-content {
  /* background-color: #e5e5e5; */
  min-height: 90.5vh;
}

.clicked {
  background: rgba(255, 255, 255, 0.5);
  padding: 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.un-clicked {
  padding: 0.6rem;
  cursor: pointer;
}

.stick-top {
  position: sticky;
  top: 0;
  z-index: 2;
}
.content-wrapper {
  background: #f5f6f9;
  position: fixed;
  height: 100vh;
}
