.manager-back-select {
    width: 36px;
    height: 22px;
    margin: 21px 0px 21px 52px;
    font-size: 16px;
}
.manager-appraisee-name {
    width: 726px;
    height: 250px;
    background: #FFFFFF;
}
.manager-appraisee-icon-container {
    width: 200px;
    height: 182px;
    margin: auto;
    margin-top: 9px;
    text-align: center;
}
.ic {
    margin: auto;
    width: 100px;
}
.manager-appraisee-icon-container > h2 {
    font-weight: bolder !important;
    font-size: 20px;
    color: #323130;
    font-weight: 500;
    margin-top: 9px;
}
.manager-appraisee-icon-container > h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #1D1D1D;
}
.manager-appraisee-icon-container > p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #797775;

}
.manager-info-list {
    height: 22px;
    width: 726px;
    margin: 85px 0px 25px 0px;
    display: grid;
    /* grid-template-columns: 61px 65px 82px 156px; */
    grid-template-columns: 20% 20% 20% 40%;
    margin-left: -21px;
}
.manager-info-list > div{
    height: 22px;
    padding-left: 21px;
}
.manager-info-list > div > p {
    font-style: bold;
    font-weight: 500;
    font-size: 13px;
    color: #000000;
}
.manager-info-list > div > div > p {
    color: #1A73E8;
    font-size: 13px;
    font-weight: bold;
}
.manager-add > div {
    display: grid;
    grid-template-columns: 25% 75%;
    padding-left: 106px;
    cursor: pointer;
}