.EpaForm-wrapper{
    width: 70vw;
}
.form-body{
    background: #D2E4FB;
}
.EpaForm-wrapper label{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #1D1D1D;
}
.form-intro{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
    color: #000000;
}
.epa-form-header{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 18px;
    color: #000000;
}
.epa-form-tap{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}
.add-text{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #1A73E8;
}
.form-error-message{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #F03737;
}
.epa-total-score{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
    color: #999999;
}
.active-epa-tab{
    background: #D2E4FB;
    border-right: 3px solid #006FF9;
}
.epa-submit-btn{
    background: #1A73E8;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}