.welcome-text {
  width: 177px;
  height: 49px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #1d1d1d;
  margin-bottom: 100px;
}
.name-box {
  margin-bottom: 25px;
}
.text {
  /* font-family: Avenir Next; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center !important;
  color: #999999;
}
.enter-mail {
  height: 50px;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 70px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #999999;
}
.enter-mail:focus {
  outline: 1px solid black;
}
.enter-mail input {
  border: none;
}
.enter-mail input:focus {
  /* border: none; */
  outline: none;
}
.proceed {
  background: #1a73e8;
  border-radius: 5px;
  height: 50px;
  width: 325px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.login-box {
  text-align: center;
}
.login-box > p {
  margin-bottom: 140px;
}

.login-box {
  text-align: center;
}

.wrap-login {
  height: 10vh;
}
.password-icon:hover {
  cursor: pointer;
}

.authImg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 320px) {
  .welcome-text {
    margin-left: 100px;
  }
}
