  .date-picker {
    position: relative;
    width: 100%;
    /* max-width: 320px; */
    /* height: 60px; */
    background-color: #fff;
    /* margin: 30px auto; */
    /* box-shadow: 0px 3px 10px grey; */
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
  .date-picker:hover{
    background-color: #f3f3f3;
  }
  .date-picker .selected-date{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .date-picker .dates{
    position: relative;
    top:30%;
    background-color: #fff;
    z-index: 2;
    float: right;
    width: 113%;
    padding: 5px;
    margin-right: -11px;
  }
  .date-picker .dates .month{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eeeeee;
  }
  .date-picker .dates .month .arrows{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 20px;
  }
  .date-picker .dates .month .arrows:hover{
    background-color: #f3f3f3;
  }
  .date-picker .dates .month .arrows:active{
    background-color: #00CA85;
  }
  .date-picker .dates .days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 200px;
  }
  .date-picker .dates .days .day{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
  }
  .selected{
    background-color: #1A73E8;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF !important;
  }
  .mth{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #323130;
  }
  .custom-day{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #323130;
  }
  .ongoing-calender{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #1A73E8;
  }