
@{
    Layout = "~/Views/Auth/Shared/_AuthLayout.cshtml";
}

<div class="login-box">

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times; </button>
            <span>@ViewBag.Error.ToString()</span>
        </div>

    }
    <div class="name-box">
        <span class="welcome-text">Password Reset</span>
    </div>
    <p class="text">To enable us reset your password, Enter your Email below </p>
    <form asp-controller="Auth" asp-action="PasswordReset" method="post">
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
        <div class="form-control enter-mail">
            <div class="row h-100">
                <div class="col-2"></div>
                <div class="col-8 h-100">
                    <input class="w-100 h-100 text-center" type="email" id="email" name="email"
                           placeholder="Please enter your company email address" />
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <img src="~/images/goodIcon.svg" alt="good" />
                </div>
            </div>
        </div>
        <button type="submit" class="btn proceed">Send Link</button>
    </form>


</div>

