@model ResetPasswordViewModel


@{
    Layout = "~/Views/Auth/Shared/_AuthLayout.cshtml";
}


<div class="login-box">

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times; </button>
            <span>@ViewBag.Error.ToString()</span>
        </div>

    }

    <div class="name-box">
        <span class="welcome-text">Reset Password</span>
    </div>
    <form asp-controller="Auth" asp-action="ResetPassword" method="post" class="my-5">
        <input type="hidden" readonly="readonly" name="Email" value="@Model.Email" />
        <input type="hidden" name="Token" value="@Model.Token" />
        <input type="hidden" name="ReturnUrl" value="" />
        <div class="form-control enter-mail d-flex align-items-center justify-content-center" >
            <div class="row w-100">
                <div class="col-2"></div>
                <div class="col-8 h-100">
                    <input class="w-100 h-100 text-center" name="Password" placeholder="Password" type="password" id="password" required/>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">

                    <img src='~/images/closedEye.svg' alt="good icon" onMouseDown={showPassword}
                         class="password-icon" style="display: none;" id="password-hider"
                         onclick="showPassword(false)" />

                    <img src="~/images/openEye.svg" alt="good icon" class="password-icon"
                         onclick="showPassword(true)" id='password-shower' />

                </div>
            </div>
        </div>
        <div class="form-control enter-mail justify-content-center d-flex align-items-center">
            <div class="row w-100">
                <div class="col-2"></div>
                <div class="col-8 h-100">
                    <input class="w-100 h-100 text-center" name="ConfirmPassword" placeholder="Confirm Password" type="password" id="password1" readonly/>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">

                    <img src='~/images/closedEye.svg' alt="good icon" onMouseDown={showPassword}
                         class="password-icon" style="display: none;" id="password-hider1"
                         onclick="showPassword1(false)" />

                    <img src="~/images/openEye.svg" alt="good icon" class="password-icon"
                         onclick="showPassword1(true)" id='password-shower1' />

                </div>
            </div>
        </div>

        <button class="btn proceed mt-5" type="submit">Proceed</button>

    </form>

</div>
<script>
    let password = document.getElementById('password');
    let passwordShower = document.getElementById('password-shower')
    let passwordHider = document.getElementById('password-hider')

    const showPassword = (decision) => {
        if (decision === true) {
            password.type = "text"
            passwordShower.style = 'display: none;'
            passwordHider.style = 'display: unset'
        }
        else {
            password.type = "password"
            passwordShower.style = 'display: unset'
            passwordHider.style = 'display: none'
        }
    }
</script>
<script>
    let password1 = document.getElementById('password1');
    let passwordShower1 = document.getElementById('password-shower1')
    let passwordHider1 = document.getElementById('password-hider1')

    const showPassword1 = (decision) => {
        if (decision === true) {
            password1.type = "text"
            passwordShower1.style = 'display: none;'
            passwordHider1.style = 'display: unset'
        }
        else {
            password1.type = "password"
            passwordShower1.style = 'display: unset'
            passwordHider1.style = 'display: none'
        }
    }
</script>